/* * {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  font-family: "Montserrat", sans-serif !important;
} */

.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.coming-soon:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(34, 34, 34, 0.5);
}
.coming-soon .content {
  position: relative;
  z-index: 1;
}
.coming-soon .content h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 900;
}
.coming-soon .content h1 span {
  font-weight: 400;
}
@media screen and (min-width: 480px) {
  .coming-soon .content h1 {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .coming-soon .content h1 {
    font-size: 42px;
  }
}
@media screen and (min-width: 1024px) {
  .coming-soon .content h1 {
    font-size: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .coming-soon .content h1 {
    font-size: 72px;
  }
}
.coming-soon .content h2 {
  color: #fff;
  font-size: 42px;
  font-weight: 900;
  margin: 30px 0px;
}
@media screen and (min-width: 480px) {
  .coming-soon .content h2 {
    font-size: 56px;
  }
}
@media screen and (min-width: 768px) {
  .coming-soon .content h2 {
    font-size: 72px;
  }
}
@media screen and (min-width: 1024px) {
  .coming-soon .content h2 {
    font-size: 96px;
  }
}
@media screen and (min-width: 1280px) {
  .coming-soon .content h2 {
    font-size: 128px;
  }
}
.coming-soon .content .countdown {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
}
@media screen and (min-width: 480px) {
  .coming-soon .content .countdown {
    font-size: 42px;
  }
}
@media screen and (min-width: 768px) {
  .coming-soon .content .countdown {
    font-size: 56px;
  }
}
@media screen and (min-width: 1024px) {
  .coming-soon .content .countdown {
    font-size: 72px;
  }
}
@media screen and (min-width: 1280px) {
  .coming-soon .content .countdown {
    font-size: 88px;
  }
}
